.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 92vh;

  background-color: var(--clr);
}

.homeprompt {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80vw;
  margin-bottom: 32px;

  color: var(--fontclr);
  text-decoration: none;
  font-size: var(--fontdisplay);
  font-weight: 600;
}

.homeprompt img {
  margin: var(--spacing);
  width: 96px;
}

.select {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;

  width: 40vw;
}

.select a {
  color: var(--fontclr);
  text-decoration: none;
  font-weight: 600;

  border: 2px solid var(--fontclr);
  border-radius: 32px;
  padding: 8px 16px;

  transition: var(--trans);
}

.select a:hover {
  background-color: var(--theme);
}
