.material-symbols-outlined {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 20;
}

* {
  font-family: "Inter";
}

.reviewerPage {
  display: flex;
  flex-direction: row;

  gap: var(--spacing);
  width: 100vw;
  height: 100vh;
}

.headerRef {
  color: var(--fontclr);
  font-size: 3rem;
  position: absolute;
  top: -2rem;
  left: 1rem;
}

.noteRender {
  display: flex;
  height: 75vh;

  transform: translate(8px, 10%);

  border: 2px solid var(--fontclr);
  border-radius: 32px;

  overflow: hidden;

  flex: 0 0 35%;

  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.5));
}

#noteSelect {
  background-color: var(--fontclr);
  color: var(--clr);
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 16vw;
}

.noteSelector {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.noteOption {
  flex: 0 0 85%;
  text-align: left;
  color: var(--clr);
}

.noteSelector button {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  font-size: var(--fontsize);
  transition: var(--trans);
}

.noteSelector button:hover {
  font-size: var(--fontmid);
}

.noteSelector:hover .noteDelete {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noteDelete {
  display: none;
  color: var(--urgent);
}

#noteBox {
  background-color: var(--clr);
  color: var(--fontclr);
  resize: none;
  width: 20vw;
  padding: var(--spacing);
  padding-bottom: 20vh;
  margin: 0;
  border: none;
}

.textEditor {
  flex: 0 0 50%;
  padding: var(--spacing);
}

.editorSettings {
  background: var(--clr);
  transform: translate(0, 7vh);

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  border: 2px solid var(--fontclr);
  border-radius: 16px;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.5));
}

.editorSettings button {
  flex: 10% 10% 10%;
  outline: none;
  border: none;

  padding: var(--spacing);

  align-items: center;
  justify-content: center;

  background: transparent;
}

.editButton {
  pointer-events: none;
  width: 100%;
}

.editorSettings button:hover .editButton{
  width: 125%;
}

/* Pages */

#documentWriter {
  display: flex;

  margin-top: 8vh;
  padding: 16px;
  gap: var(--spacing);

  height: max-content;
  width: 60vw;

  overflow-x: auto;
  scrollbar-width: 8px;
  -ms-overflow-style: 8px;
}

#documentWriter::-webkit-scrollbar {
  width: 8px;
}

.documentPage {
  background-color: var(--clr);
  color: var(--fontclr);
  border: 1px solid var(--fontclr);
  height: 60vh;
  max-width: 100%;
  aspect-ratio: 216 / 279;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.5));
  padding: 8px;

  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}
